ion-header {
    max-width: 1000px;
    margin: auto;
}

ion-toolbar {
    text-align: center;
    opacity: 0.8;
}

ion-button {
    --opacity: 0.8;
}

.main {
    max-width: 1000px;
    padding: 0 10px;
    margin: auto;
}
