// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #007bff;
  --ion-color-primary-rgb: 0,123,255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #006ce0;
  --ion-color-primary-tint: #1a88ff;

  --ion-color-secondary: #17a2b8;
  --ion-color-secondary-rgb: 23,162,184;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #148f9f;
  --ion-color-secondary-tint: #2eacbb;

  --ion-color-tertiary: #663399;
  --ion-color-tertiary-rgb: 102,51,153;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #5a2d86;
  --ion-color-tertiary-tint: #7547a2;

  --ion-color-success: #28a745;
  --ion-color-success-rgb: 40,167,69;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #23923d;
  --ion-color-success-tint: #3eaf59;

  --ion-color-warning: #ffc107;
  --ion-color-warning-rgb: 255,193,7;
  --ion-color-warning-contrast: #212529;
  --ion-color-warning-contrast-rgb: 33,37,41;
  --ion-color-warning-shade: #e0aa06;
  --ion-color-warning-tint: #ffc720;

  --ion-color-danger: #dc3545;
  --ion-color-danger-rgb: 220,53,69;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #c22f3d;
  --ion-color-danger-tint: #e04958;

  --ion-color-dark: #212529;
  --ion-color-dark-rgb: 33,37,41;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #1d2124;
  --ion-color-dark-tint: #373b3f;

  --ion-color-medium: #6c757d;
  --ion-color-medium-rgb: 108,117,125;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #5f676e;
  --ion-color-medium-tint: #7b838a;

  --ion-color-light: #f8f9fa;
  --ion-color-light-rgb: 248,249,250;
  --ion-color-light-contrast: #212529;
  --ion-color-light-contrast-rgb: 33,37,41;
  --ion-color-light-shade: #d9dade;
  --ion-color-light-tint: #f9fafb;

  --ion-font-family: 'Inter', sans-serif;
}
