p {
  margin: 0;
}

ion-header {
    max-width: 1000px;
    margin: auto;
}

ion-toolbar {
    text-align: center;
    opacity: 0.8;
}

.main {
    max-width: 500px;
    margin: auto;
}

ion-input {
    --padding-start: 5px!important;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

ion-button {
    --opacity: 0.8;
}

.result-title-div {
  height: 39px;
}

.result-title-street-text {
  font-size: 16px;
  text-align: left;
  margin-top: 0px
}

.result-title-area-text {
  font-size: 16px;
  text-align: right;
  margin-top: 0px
}

.result-body-div {
  height: 63px;
}

  .result-text {
    text-align: center;
    font-size: 32px;      
    margin-top: 0px;
    margin-bottom: 2px;
  }

  .result-text-subscript {
    text-align: center;
    font-size: 16px;
    margin-top: 0px
}

  #scatter {
      padding-right: 5px;
  }


  /* 
  .buttonHolder {
    text-align: center;
  }

.button {
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
  }

  .button:focus{
    outline:0;
   }
  

   .img1 {
    -webkit-animation-name: cssAnimation1;
    -webkit-animation-duration:1s;
    animation-name: cssAnimation1;
    animation-duration: 1s;
  }

  .img2 {
    -webkit-animation-name: cssAnimation2;
    -webkit-animation-duration:1s;
    animation-name: cssAnimation2;
    animation-duration: 1s;
  }

  @-webkit-keyframes cssAnimation1 {
    from {
      -webkit-transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
    }
  }

  @-webkit-keyframes cssAnimation2 {
    from {
      -webkit-transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
    }
  }

  @keyframes cssAnimation1 {
      0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
  }

  @keyframes cssAnimation2 {
    0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
} */
